{% extends 'birds/base.html' %}
{% block content %}
  <h2>Квиз: Угадай птицу</h2>
  <p>Введите название вида птицы, изображённой на картинке.</p>

  {% if result %}
    <p><strong>{{ result }}</strong></p>
  {% endif %}

  {% if bird %}
    <img src="{{ bird.image.url }}" width="200"><br><br>

    {% if not show_result %}
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="bird_id" value="{{ bird.id }}">
        <input type="text" name="answer" placeholder="Введите название">
        <button type="submit">Проверить</button>
      </form>
    {% endif %}
  {% endif %}

  {% if show_result %}
    <script>
      setTimeout(() => {
        window.location.href = window.location.href;
      }, 2000);
    </script>
  {% endif %}

  {% if quiz_over %}
    <p>Вы прошли всех птиц. 👏</p>
  {% endif %}
{% endblock %}